.barber-pole {
    position: absolute;
    top: 20px;
    width: 30px;
    height: 120px;
    border-radius: 15px;
    background: repeating-linear-gradient(
      45deg,
      #ff0000 0 15px,
      #ffffff 15px 30px,
      #ff0000eb 30px 45px,
      #ffffff 45px 60px
    );
    border: 3px solid #222;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 0;
    opacity: 0.6;
    animation: pole-move 2s linear infinite;
    background-size: 60px 180px;
    z-index: 2;
  }

  .barber-pole.left {
    left: 20px;
  }
  .barber-pole.right {
    right: 20px;
  }

  @keyframes pole-move {
    0% { background-position: 0 0; }
    100% { background-position: 0 -60px; }
  }

  header {
    position: relative;
  }

  header h1, header p {
    position: relative;
    z-index: 1;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 body {
    font-family: Arial, sans-serif;
    background: white;
    background-image: url(pizza.jpg);
    background-color: #191919;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain; /* alterado de 'contain' para 'cover' */
}

  header {
      background: #111;
      color: #fff;
      padding: 15px 20px 10px 20px; /* topo, lados, baixo */
      text-align: center;
      min-height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

  header h1 {
    font-family: '', cursive;
    font-size: 3em;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px #fff200;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
  }

  .item {
    width: 100%;
    max-width: 350px; /* ou ajuste conforme seu layout */
    margin: 0 auto 20px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
    border: 2px solid black;
  }

  .item:hover {
    transform: scale(1.03);
  }

  .item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px; /* opcional, para cantos arredondados */
  }

  .item h2 {
    padding: 15px;
    font-size: 1.3em;
    color: #ff3c00;
  }

  .item p {
    padding: 0 15px 15px;
    font-size: 0.95em;
  }

  footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #fff;
  }

    .iuser {
  display:flex;
  gap: 10px;
  position: absolute;
  top: 20px;
  right:54px;
  z-index: 1;
  padding: 0;
}

  i{

    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 10px;
    width: 70px;
    z-index: 1;
    color: black;
  }

  a{
    text-decoration: none;
    color: inherit;
    z-index: 1;}