body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

.carrinho-container {
  max-width: 700px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

.item-carrinho {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.item-carrinho img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.detalhes h2 {
  margin: 0;
}

.detalhes p {
  margin: 5px 0;
}

.quantidade {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}

.finalizar {
  background-color: #2ecc71;
  padding: 10px 20px;
  margin-top: 20px;
}

.finalizar:hover {
  background-color: #27ae60;
}

.total {
  text-align: right;
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 22px;
}